<div class="container mt-4">
  <span class="cl-black" id="dadosUsuarioIU"></span>
</div>

<mat-toolbar class="bg-goldenrod cl-black">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <button id="btnsalvar" (click)="salvar()" class="btn bold bg-lightblue" [disabled]="!registroAlterado">Salvar</button>
    <button id="btncancelar" (click)="cancelar()" class="btn bold bg-silver" [disabled]="!registroAlterado">Cancelar</button>

    <button id="btnbloquear" (click)="modificacacoes('1')" class="btn bold bg-white" [disabled]="!habilitarBotoes">Bloquear</button>
    <button id="btnbaixar" (click)="modificacacoes('2')" class="btn bold bg-white" [disabled]="!habilitarBotoes">Baixar</button>
    <button id="btnativar" (click)="modificacacoes('0')" class="btn bold bg-white" [disabled]="!habilitarAtivar">Ativar</button>
    <button id="btnresetarsenha" (click)="modificacacoes('s')" class="btn bold bg-white" [disabled]="!habilitarBotoes">Resetar senha</button>


    <span class="example-spacer"></span>
    <span>Usuário</span>
    <span class="example-spacer"></span>

    <button [routerLink]="['/home/usuario']" mat-icon-button class="example-icon" aria-label="Example icon-button with home icon">
      <mat-icon>home</mat-icon>
    </button>

</mat-toolbar> 

<div class="card shadow-sm">

  <div class="card-body">
    <tr>
    <div class="container">
      <p class="bold">Registro: {{ usuario.id }}</p>
      <p class="bold">Matrícula:</p> 
      <input id="inputmatricula" class="uppercase" size="20" maxlength="15" value="{{ usuario!.matricula }}" (change)="alteracao()">
      <br><br>
      <p class="bold">Nome:</p>
      <input id="inputnome" class="uppercase" size="60" maxlength="50" value="{{ usuario!.nome }}" (change)="alteracao()">
      <br><br>
      <p class="bold">Situação:</p>
      <p class="card-text bold">{{ usuario.situacao | usuarioSituacao }}</p>

      <p class="bold">Perfil:</p>

      <select id="selPerfil" title="selPerfil" name="selPerfil" type="combobox" size="8" class="item-md mouse-over" multiple (change)="alteracao()">
        <option name="selPerfilUsuario" *ngFor='let perfil of perfis' [value]="perfil.id" [selected]="perfil.auxiliar">{{perfil.descricao}}</option>
      </select>

      </div>
    </tr>
    <br><br>

  </div>
</div>

<app-log></app-log>