<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Ações executadas</span>
    <span class="example-spacer"></span>
    
    <!--button class="btn btn-primary mr-2">+</button-->
    <!--a [routerLink]="['/home']" class="btn btn-primary mr-2">Retornar</a-->

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button [routerLink]="['/home']" mat-icon-button class="example-icon" aria-label="Example icon-button with home icon">
      <mat-icon>home</mat-icon>
    </button>

  </mat-toolbar> 